<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lptiyu.tanke"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ***************************** Dangerous Permissions need to be requested ***************************** -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- ***************************** Dangerous Permissions need to be requested ***************************** -->


    <!-- Normal Permissions do not need request -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- Permission below added for barcode scanner -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- unavailable in API 23 -->
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- Permission above added for barcode scanner -->
    <application
        android:name=".RunApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="qnETHCCOsjRZouq6GUXQR8AQKTOQnS8U"/>

        <!-- the service used to support locate -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>

        <!-- the service used to support trace -->
        <service
            android:name="com.baidu.trace.LBSTraceService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".MainActivity"/>
        <activity android:name=".initialization.ui.LoginActivity"/>
        <activity android:name=".initialization.ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".initialization.ui.GuideActivity">
        </activity>
        <activity android:name=".initialization.ui.CompleteInformationActivity">
        </activity>
        <activity android:name=".initialization.ui.SignUpActivity">
        </activity>
        <activity android:name=".initialization.ui.UserProtocolActivity">
        </activity>
        <activity android:name=".messagesystem.MessageActivity">
        </activity>
        <activity android:name=".userCenter.ui.RewardListActivity">
        </activity>
        <activity android:name=".userCenter.ui.GameFinishedListActivity">
        </activity>
        <activity android:name=".userCenter.ui.GamePlayingListActivity">
        </activity>
        <activity android:name=".userCenter.ui.LocateActivity">
        </activity>
        <activity android:name=".userCenter.ui.ModifyTextActivity">
        </activity>
        <activity android:name=".userCenter.ui.ModifyUserInfoActivity">
        </activity>
        <activity android:name=".userCenter.ui.OtherUserInformationActivity">
        </activity>
        <activity android:name=".userCenter.ui.SettingActivity">
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1105156320"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- 微信回调使用 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- 用户反馈-->
        <activity android:name="com.avos.avoscloud.feedback.ThreadActivity">
        </activity>
        <activity
            android:name="com.lptiyu.zxinglib.android.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name="com.lptiyu.zxinglib.android.PreferencesActivity"
            android:label="@string/preferences_name"
            android:stateNotNeeded="true"/>
        <activity
            android:name="com.lptiyu.zxinglib.android.share.ShareActivity"
            android:screenOrientation="user"
            android:stateNotNeeded="true"/>
        <activity
            android:name="com.lptiyu.zxinglib.android.encode.EncodeActivity"
            android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="com.google.zxing.client.android.ENCODE"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!-- This allows us to handle the Share button in Contacts. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/x-vcard"/>
            </intent-filter>
            <!-- This allows us to handle sharing any plain text . -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity android:name=".gameplaying.GamePlayingActivity">

        </activity>
        <activity android:name=".gameplaying.task.GameTaskActivity">
        </activity>
        <activity android:name=".gamedetails.GameDetailsActivity">
        </activity>
        <activity android:name=".gamedata.GameDataActivity">
        </activity>
        <service android:name="com.avos.avoscloud.PushService"/>

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".pushreceiver.PushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="com.tanke.PUSH_ACTION"/>
            </intent-filter>
        </receiver>

        <activity android:name=".userCenter.UserGamePlayingActivity">
        </activity>
        <activity android:name=".userCenter.UserGameFinishedActivity">
        </activity>
        <activity android:name=".userCenter.ModifyUserInformationActivity">
        </activity>
        <activity android:name=".userCenter.UserManagerGameActivity">
        </activity>
        <activity android:name=".userCenter.UserRewardActivity">
        </activity>
        <activity android:name=".gameplaying.GameShareActivity">
        </activity>
    </application>

</manifest>